@media (max-width: 1200px) {
    .menu__list-item {
        padding: 10px 0;
    }
    .first-screen__category-item {
        height: 170px;
    }
    .first-screen__category-box {
        justify-content: center;
        gap: 30px;
    }
    .benefits {
        padding: 50px 0 20px;
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            padding-bottom: 30px;
        }
    }
    .info {
        padding: 30px 0;
        &__inner {
            flex-wrap: wrap;
        }
        &__item {
            max-width: 100%;
            display: flex;
            margin-bottom: 20px;
            & + .info__item {
                margin-right: 0;
            }
        }
    }
    
}

@media (max-width: 992px) {
    .header__center-box {
        flex-wrap: wrap;
    }

    .logo {
        order: 0;
    }

    .serche {
        order: 2;
        width: 100%;
        margin-top: 30px;
    }

    .cart {
        order: 1;
    }

    .menu {
        position: relative;
        &__list {
            width: 100%;
            position: absolute;
            transform: translateY(-300%);
            flex-direction: column;
            transition: all .5s;
            z-index: 10;
            left: 0;
            top: 62px;          
            &--active {
                background-color: #fff;
                transform: translateY(0%);
                transition: all .5s;
            }

            &-item {
                //width: 100%;
                text-align: center;

                &--color {
                    display: none;
                }
            }
        }

        &__btn {
            display: block;
        }

        &__list-item+.menu__list-item {
            padding-left: 0;
        }
    }

    .product {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .banner {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        &__top {
            &-box {
                flex-direction: column-reverse;
                align-items: start;
            }

            &-currency {
                padding-left: 0;
                margin-bottom: 8px;
            }

            &-contact {
                flex-direction: column;
                align-items: start;
            }

            &-text {
                margin-bottom: 8px;
                border-right: none;

                &:first-child {
                    padding-right: 0;
                }
            }

            &-text+.header__top-text {
                margin-left: 0;
            }
        }
    }

    .first-screen__title {
        font-size: 42px;
    }

    .counter {
        margin-bottom: 50px;
        margin-right: 15px;
    }

    .info__item__img {
        display: none;
    }

    .footer {
        &__content {
            flex-wrap: wrap-reverse;

            &-info {
                width: 100%;
                padding-left: 0;

                &-box {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    &-contact {
                        margin-right: 20px;
                    }
                }
            }

            &-text {
                width: 100%;
            }

            &-img {
                margin-bottom: 30px;
            }
        }

        &__telegram-chenal {
            display: none;
        }

        &__copy {
            flex-direction: column;
        }
    }
}

@media (max-width: 568px) {
    .all__title {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 40px;
    }
    .cart__box {
        display: none;
    }

    .first-screen__item {
        margin-left: 15px;
    }

    .first-screen__title {
        font-size: 36px;
    }

    .counter__box {
        width: 80px;
    }

    .counter__box-numb {
        font-size: 24px;
        line-height: 34px;
    }

    .product {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .footer__content {
        margin-bottom: 20px;
    }

    .footer__telegram-read {
        border-left: none;
    }
}

@media (max-width: 450px) {
    .counter {
        justify-content: space-between
    }
    .counter__box {
        width: 60px;
    }
    .first-screen__title {
        font-size: 26px;
    }
    .first-screen__category-item {
        width: 290px;
        background-position: -77px center;
    }
    .first-screen__category-text {
        font-size: 18px;
    }
    .first-screen__category-link {
        font-size: 12px;
    }
    .counter__box-numb {
        font-size: 18px;
        line-height: 26px;
    }
    .benefits__item {
        flex-direction: column;
        align-items: center;
    }
    .benefits__img {
        margin-bottom: 15px;
    }
}

@media (max-width: 350px) {
    .footer__copy-list {
        flex-wrap: wrap;
        white-space: nowrap;
    }
    
}