@media (max-width: 1200px) {}

;

@media (max-width: 992px) {
    .header__center-box {
        flex-wrap: wrap;
    }

    .form__search {
        order: -1;

    }

    .menu {
        display: none;
    }
}

;

@media (max-width: 768px) {}

;