$accent: #ffd91c;
$title:#1a1a1a;
$text:#7A7A7A;

%montserrat-400 {
    font-family: 'Montserrat-Regular';
    font-weight: 400;
}
%montserrat-500 {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
}
%montserratA-400 {
    font-family: 'MontserratAlternates-Regular';
    font-weight: 400;
}