@import 'vars'; /* Цвет */
@import 'fonts'; /* Шрифты */
@import 'reset'; /* Сброс */
@import 'global'; /* Глобальные стили */


.header {
}
.header__top {
    background-color: #F8F8F8;
}
.header__top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}
.header__top-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top-text {
    border-right: 1px solid $text;
}
.header__top-text:last-child {
    border-right: none;
}
.header__top-text + .header__top-text {
    margin-left: 25px;
}
.header__top-text:first-child {
    padding-right: 25px;
}
.header__top-link {
    color: $text;
}
.header__top-menu {
}
.header__top-account {
    color: $text;
    border-right: 1px solid $text;
    padding-right: 37px;
}
.header__top-carancy {
    color: $text;
    padding-left: 20px;
}
.header__center-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header__center {

}
.logo {
}
.header__center-img {
}
.serche {
    @extend %montserrat-400;
    font-size: 13px;
    width: 440px;
    position: relative;
    /* border-radius: 0px 20px 20px 0px; */
}
.serche__product {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 44px;
    border: 0;
    border-radius: 10px;
    background-color: $accent;
    padding: 0 30px 0 20px;
    background-image: url(../images/icons/arrow-down.svg);  
    background-position: 80% center;
    background-repeat: no-repeat;
}
.form {
    
}
.form__search {
    /* position: absolute; */
    border-radius: 10px;
    width: 100%;
    height: 44px;
    border: 1px solid #EDEDED;
    padding-left: 125px;
    padding-right: 60px;
    outline: none; 
}
.form__search-btn {
    position: absolute;
    top: 12px;
    right: 0;
    z-index: 2;
    height: 20px;
    color: #1a1a1a;
    border: none;
    border-left: 1px solid #1a1a1a;
    border-radius: 0;
    background-color: transparent;
    background-image: url(../images/icons/search.svg);  
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0 20px;
}
.cart {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.cart__link {
}
.cart__number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $title;
    color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: 25px;
}
.cart__box {
    margin-left: 20px;
}
.cart__img {
}
.cart__text {
    color: $title;
    font-size: 13px;
    line-height: 18px;
}
.cart__product {
    line-height: 20px;
}
.cart__sum {
    line-height: 20px;
}


.header__bottom {
    background-color: $accent;
}
.menu {
    padding: 10px 0;
}
.menu__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu__list-item + .menu__list-item{
    padding-left: 10px;
}
.menu__list-link {
    @extend %montserrat-500;
    color: #1A1A1A;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 18px
}

.menu__list-link:hover{
    color: #FFFFFF;
    background-color: $title;
    padding: 10px 18px;
    border-radius: 50px;
    transition: all .3s;
}

/* .menu__list-item--color {
    background-color: $title;
    padding: 0 18px;
    border-radius: 50px;
}
 */


 .footer {
     padding: 70px 0 30px;
     background-color: #131517;
     color: #FFFFFF;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.footer__list {
}
.footer__list-title {
    font-size: 21px;
    line-height: 22px;
    margin-bottom: 20px;
}
.footer__item {
    margin-bottom: 15px;
}
.footer__link {
    color: #FFFFFF;
}
.footer__link::before{
    content: url(../images/icons/arrow-right.svg);
    vertical-align: -4px;
}
.footer__content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__content-info-text,
.footer__content-info-link {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer__content-credit {

}
.footer__content-img {
}
.footer__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #4d4c4c;
    padding-top: 30px;
}

.footer__copy a {
    color: #FFFFFF;
    text-decoration: none;
}


@import 'media'; /* медиа-запросы */